[submodule "bundle/ctags.vim"]
	path = bundle/ctags.vim
	url = https://github.com/vim-scripts/ctags.vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/visual_studio.vim"]
	path = bundle/visual_studio.vim
	url = https://github.com/vim-scripts/visual_studio.vim
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/taglisttoo"]
	path = bundle/taglisttoo
	url = https://github.com/ervandew/taglisttoo.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/Trinity"]
	path = bundle/Trinity
	url = https://github.com/wesleyche/Trinity.git
[submodule "bundle/threesome"]
	path = bundle/threesome
	url = https://github.com/sjl/threesome.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
  ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/Ack.vim"]
	path = bundle/Ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/quickfix-reflector.vim"]
	path = bundle/quickfix-reflector.vim
	url = https://github.com/stefandtw/quickfix-reflector.vim.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/fontsize"]
	path = bundle/fontsize
	url = https://github.com/vim-scripts/fontsize.git
[submodule "bundle/Decho"]
	path = bundle/Decho
	url = https://github.com/vim-scripts/Decho.git
[submodule "bundle/Syntastic"]
	path = bundle/Syntastic
	url = https://github.com/vim-scripts/Syntastic.git
[submodule "bundle/notes.vim"]
	path = bundle/notes.vim
	url = https://github.com/vim-scripts/notes.vim.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-scripts/Decho"]
	path = bundle/vim-scripts/Decho
	url = https://github.com/vim-scripts/Decho.git
[submodule "bundle/vim-scripts/fontsize"]
	path = bundle/vim-scripts/fontsize
	url = https://github.com/vim-scripts/fontsize.git
[submodule "bundle/xolox/vim-notes"]
	path = bundle/xolox/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "bundle/scrooloose/syntastic"]
	path = bundle/scrooloose/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/xolox/vim-misc"]
	path = bundle/xolox/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/adoy/vim-php-refactoring-toolbox"]
	path = bundle/adoy/vim-php-refactoring-toolbox
	url = https://github.com/adoy/vim-php-refactoring-toolbox.git
